<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yzl.swu.yyreader">
    <!-- 外部存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon_y"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_y"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FileSelectorActivity"/>
        <activity android:name=".activity.BookReaderActivity" />
        <activity android:name=".activity.StoreRankActivity"/>
        <activity android:name=".activity.BookDetailActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.CacheActivity" />
        <activity android:name=".activity.SelfCenterActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.SetupActivity" />
        <activity android:name=".activity.RecommendActivity" />
        <activity android:name=".activity.SearchDetailActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.ResultActivity"/>
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>